;; Sirius emacs configuration
;; by @lucastamoios


;; Use vim commands on emacs. Because Vim shortcuts rules.
(add-to-list 'load-path "~/.emacs.d/evil")
(require 'evil)
(evil-mode 1)

;; Some agenda shortcuts
(global-set-key "\C-cl" 'org-store-link)
(global-set-key "\C-ca" 'org-agenda)
(global-set-key "\C-cc" 'org-capture)
(global-set-key "\C-cb" 'org-iswitchb)

;; Where the agenda tasks will be searched
(setq org-agenda-files 
    (list "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org"))

;; Define two kind of diferent sequences
(setq org-todo-keywords '(
    ;; Normal tasks
    (sequence "TODO" "IN PROGRESS" "WAITING" "|" "DONE")
    ;; Appintments
    (sequence "APPT" "|" "DONE")))

;; Tags for agenda
(setq org-tag-alist '(
        (:startgroup . nil)
            ("@coworking" . ?w)
            ("@home" . ?h)
            ("@outdoors" . ?t)
        (:endgroup . nil)

        ("finance" . ?f)
        ("fun" . ?u)
        ("health" . ?l)
        ("need more information" . ?n)
        ("pc" . ?p)
        ("work" . ?k)
    ))

;; Start to warns me 7 days before
(setq org-deadline-warning-days 7)

;;open agenda in current window
(setq org-agenda-window-setup (quote current-window))

;;show me tasks scheduled or due in next fortnight
(setq org-agenda-span (quote fortnight))

;;don't show tasks as scheduled if they are already shown as a deadline
(setq org-agenda-skip-scheduled-if-deadline-is-shown t)

(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(org-capture-templates
   (quote

    (("i" "In List" entry
      (file+headline "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org" "In List")
      "* TODO %^{Description}. %^G  Added: %U" nil nil)

    ("n" "Next Tasks" entry
      (file+headline "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org" "Next")
      "* TODO %^{Description}. %^G  Added: %U\n  SCHEDULED: %^T\n" nil nil)

    ("a" "Appointments" entry
      (file+headline "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org" "Appointments")
      "* APPT %^{Description}. %^G  Added: %U\n  SCHEDULED: %^T\n" nil nil)

    ("w" "Waiting for" entry
      (file+headline "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org" "Waiting for")
      "* WAITING %^{Description}. Waiting for %^{Reason}. %^G  Added: %U" nil nil)

    ("s" "Someday" entry
      (file+headline "~/Dropbox/Pessoal/.orgfiles/gtd/tasks.org" "Someday")
      "* %^{Description}. Not now because: %^{Reason}. %^G  Added: %U" nil nil)
    ))))
(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )
